@model IEnumerable<LibrarysAppTest.Models.Shelf>

@{
    ViewData["Title"] = "ShowAllShelf";
}

<h1>רשימת מדפים</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShelfHeight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LibrarysShelfType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShelfHeight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurentLibrary.LibraryType)
            </td>
            <td>
                @Html.ActionLink("הצג ספרים", "ShowAllBooks", new { id=item.Id }) |
                @Html.ActionLink("הוסף ספר למדף", "CreateNewBook", new { id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
