@model IEnumerable<Solution.Models.Library>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (Library item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShelfList.Count)
            </td>
            <td>
                 @Html.ActionLink("Library details", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Add new sheif", "AddShelf", new { libraryId=item.Id }) |
            </td>
        </tr>
}
    </tbody>
</table>
